html, body, #root, #root>div {
  height: 100%;
  font-family: "Open sans";
}

body {
  margin: 0;
}

#root {
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  padding-left: 10px;
}
